.dialog-pane{
	-fx-background-color: #282c34;
	-fx-border-color: transparent;
	-fx-background-radius: 0;
	-fx-border-width: 0;
 }

/**Custpmization of The Bar where the buttons are located**/
.dialog-pane > .button-bar > .container {
	-fx-background-color: transparent;
}

.dialog-pane > .content.label {
	-fx-text-fill: #d7dae0;
	-fx-font-size: 15.0;
}

/**Costumization of DialogPane Header**/
.dialog-pane:header .header-panel {
  -fx-background-color: transparent;
}

.dialog-pane:header .header-panel .label{
	-fx-background-color: transparent;
	-fx-text-fill: #d7dae0;
	-fx-font-size: 15.0;
}

/**Costumization of Buttons**/
.dialog-pane .button {
	-fx-background-color:  #404754;
	-fx-text-fill: #d7dae0;
	-fx-background-radius: 3;
	-fx-background-insets: 0;
}

.dialog-pane .buton:pressed {
	-fx-background-color: #323842;
}

.dialog-pane .button:hover {
	-fx-background-color: #363d4a;
}

.alert.confirmation.dialog-pane,
.text-input-dialog.dialog-pane,
.choice-dialog.dialog-pane {
	-fx-graphic: url("../../images/sign-confirm.png");
}

.alert.information.dialog-pane {
	-fx-graphic: url("../../images/sign-info.png");
}

.alert.error.dialog-pane {
	-fx-graphic: url("../../images/sign-error.png");
}

.alert.warning.dialog-pane {
	-fx-graphic: url("../../images/sign-warning.png");
}
